@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
body{

    font-family: 'Nunito', sans-serif;
}
.fluid-container{
    padding-left:1rem;
    padding-right:2rem;
}

.centre-container{
    max-width: 500px;
    margin:auto;
}
 body{
     color: rgb(190, 7, 7);
 }
 .fluid-container{
     font-size: 20px;

 }
 .primarylink 
 {
    padding: 0.5rem 0.5rem;
    background-color: slateblue;
    border: 2px solid;
    border-radius: 1rem;
    color:black;
    font-weight: bold;
    text-decoration:none;
 }

 .secondarylink
 {
     padding: 0.5rem 2.5rem;
     color:black;
     border: 2px solid;
background-color: green;    
     border-radius: 1rem;
     text-decoration:none;

     font-weight: bold;
 }

 hr
 {
     margin: 2rem 0rem;
     
 }

 .unorderedlist
 {
     list-style: none;
     
 }

 .inline
 {
     display: inline; 
     padding: 0rem 1.5rem;
 }

 .navigation
 {
     padding:1rem;
     background-color: rgb(59, 42, 206);
     border-bottom-left-radius: 1rem;
}

.navlink{
    color:white;
    font-weight: bold;
    text-decoration: none;
    
    
}
.mainnav
{
    font-size: larger;
    font-weight: bolder;
}

.hero
{
    padding:3rem 0rem;
}

.img
{
    max-width: 300px;
    display:block;
    margin:auto;
}

.heroheading
{
    font-size: 1.8rem;
    color:#475569;
    padding: 0rem 2rem;
    text-align: center;
    

}

.span
{
    color:rgb(66, 11, 194);
    font-size: 30px;
}

.section
{
    padding:2rem;
}


.section h1
{
    color: rgb(51, 3, 139);
    text-align: center;
    
}

.ow
{
    background-color: #cbd5e1
    ;
    
}

.footerlink
{
    color:rgb(247, 241, 241);
    text-decoration: none;
}

.footerlist
{
    list-style: none;
}

.footerinline
{
    display:inline;
    padding:0rem 1rem;
    font-weight: bold ;
}

.footermain
{
    background-color: #312e81;
    color:white;
    border-top-right-radius: 1rem;
    text-align: center;
}









